/* ========================================================================
	Universal for all pages
   ========================================================================
*/

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 62.5%; /*This creates this conversion (1em = 10px)*/
}	

@font-face {
	font-family: "DIN Next LT";
	src: url(DINNextLTPro-Regular.ttf);
}

.navBar {
	display: flex;
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 1px solid #dbdbdd;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
}

nav {
	width: 33.3%;
}

nav a {
	color: #000000;
	text-decoration: none;
	padding: 0 10px 0 10px;
	font-size: 15px;
	margin-left: 10px;
	font-family: "DIN Next LT";
}

.navBar a:hover {
	color: #e1e1e3;
}

a {
	text-decoration: none;
	color: #000000;
}

.pageTitle {
	font-size: 60px;
	width: 33.3%;
	text-align: center;
	font-family: "DIN Next LT";
	margin: 0;
	text-decoration: none;
	color: #000000;
}

.right {
	width: 33.3%;
}

/* ========================================================================
	Home Page
   ========================================================================
*/

header {
	padding: 360px 0;
	width: 100%;
	background-image: url('header.jpg');
	background-size: cover;
	background-position: top;
	padding-left: 15px;
	padding-right: 15px;
}

.home h2 {
	padding: 40px;
	font-size: 60px;
	font-family: "DIN Next LT";
}

.about-me {
	background-color: #cef2f2;
	height: 450px;
	display: flex;
	justify-content: center;
}

.about-me h3 {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: "DIN Next LT";
}

.websites {
	background-color: #fafad4;
	height: 450px;
	display: flex;
}

.websites h4 {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: "DIN Next LT";
}

.contact-me {
	background-color: #f4daf5;
	height: 450px;
	display: flex;
}

.contact-me h5 {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: "DIN Next LT";
}

.before-footer {
	display: flex;
	background-color: #FFFFFF;
	height: 170px;
	flex-direction: column;
	align-items: center;
}

/* ========================================================================
	'About Me' Page
   ========================================================================
*/

.aboutmepage {
	font-family: "DIN Next LT";
	background-color: #f0f2f2;
}

.aboutme-header {
	display: flex;
	justify-content: center;
}

.aboutme-heading h1 {
	font-size: 50px;
	padding-left: 45px;
}

.top-aboutme img {
	border-radius: 50%;
	width: 40%;
	margin: 0;
}

.top-aboutme {
	/*padding: 15px;*/
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 1000px;
	margin: auto;
	padding-top: 50px;
}

.top-aboutme p {
	font-size: 25px;
	padding-left: 45px;
}

.middle-aboutme {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-top: 100px;
	align-items: center;
	width: 100%;
}

.aboutheading-two h1 {
	font-size: 50px;
}

.middle-aboutme .icons {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 30px;
	grid-auto-flow: row;
	justify-items: center;
	border: transparent;
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.icons p {
	text-align: left;
}

.aboutheading-three h1 {
	font-size: 50px;
	padding-left: 50px;
}

.cv-details {
	width: 400px;
	padding-left: 50px;
	padding-bottom: 50px;
}

/* ========================================================================
	'Portfolio' page
   ========================================================================
*/

.projects-header {
	font-family: "DIN Next LT";
	display: flex;
	justify-content: center;
	
}

.projects-header h1 {
	font-size: 50px;
}

.webtable {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	border: 1px solid #e1e1e3;
	width: 900px;
	margin: 0 auto;
}

.webtable > div { /*Need to fix this and replace it with a class*/
	border: 1px solid #e1e1e3;
	padding: 1em;
	color: #000000;
	height: 250px;
}

.webtabletwo {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	border: 1px solid #e1e1e3;
	width: 900px;
	margin: 0 auto;
}

.webtabletwo > div { /*Need to fix this and replace it with a class*/
	border: 1px solid #e1e1e3;
	padding: 1em;
	color: #000000;
	height: 250px;
}

.portfolio-page {
	background-color: #f0f2f2;
	padding: 15px 85px 155px 85px;
}

/* ========================================================================
	Contact Page
   ========================================================================
*/

.contact-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-header h1 {
	font-size: 50px;
	font-family: "DIN Next LT";
}

.contact-image img {
	width: auto;
	height: 300px;
}

.top-contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-contact-container .contact-image {
	padding-right: 30px;
}

.top-contact-container .contact-intro-text {
	padding-left: 30px;
	font-family: "DIN Next LT";
	font-size: 20px;
}

.secondcontact-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.secondcontact-header h2 {
	font-size: 35px;
	font-family: "DIN Next LT";
}

body { background: #FFFFFF; }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color: black;
  font-family: "DIN Next LT";
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "DIN Next LT";
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover { background:#CC4949; }

/* ========================================================================
	Universal for all pages (bottom)
   ========================================================================
*/

.before-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.before-footer h6 {
	font-family: "DIN Next LT";
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

footer {
	background-color: #e1e1e3;
	font-family: "DIN Next LT";
	text-align: center;
	padding: 15px 0 15px 0;
}

/* =============================================
	Media Queries
   =============================================
*/

@media screen and (max-width: 1350px) {
	.pageTitle {
		font-size: 45px;
	}
}

@media screen and (max-width: 1170px) {
	.pageTitle {
		font-size: 25px;
	}
	nav a {
		font-size: 10px;
		padding: 0 5px 0 5px;
	}
}

@media screen and (max-width: 800px) {
	nav a {
		display: block;
	}
}

@media screen and (max-width: 500px) {
  .navBar a {
    display: block;
  }
  .pageTitle {
	  display: block;
  }
  .home h2 {
	  display: block;
  }
  .about-me {
	  display: block;
  }
  .websites {
	  display: block;
  }
  .contact-me {
	  display: block;
  }
  .before-footer {
	  display: block;
  }
  .footer {
	  display: block;
  }
}

@media screen and (max-width: 300px) {
  .navBar a {
    display: block;
  }
  .pageTitle {
	  display: block;
  }
  .home h2 {
	  display: block;
  }
  .about-me {
	  display: block;
  }
  .websites {
	  display: block;
  }
  .contact-me {
	  display: block;
  }
  .before-footer {
	  display: block;
  }
  .footer {
	  display: block;
  }
}